<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.mannodermaus.junit5.test">

  <application>
    <activity android:name=".activities.FirstActivity">
      <intent-filter>
        <category android:name="android.intent.category.LAUNCHER"/>
        <action android:name="android.intent.action.MAIN"/>
      </intent-filter>
    </activity>
    <activity android:name=".activities.OtherActivity"/>
  </application>
</manifest>
