# Shared default parameters and variables
defaults: &defaults
  working_directory: ~/root/project
  docker:
    - image: circleci/android:api-28
      environment:
        GRADLE_OPTS: -Xmx4096m -XX:+HeapDumpOnOutOfMemoryError -Dorg.gradle.caching=true -Dorg.gradle.configureondemand=true -Dkotlin.compiler.execution.strategy=in-process -Dkotlin.incremental=false

cache_key: &cache_key
  key: jars-{{ checksum "plugin/build.gradle.kts" }}-{{ checksum "plugin/android-junit5/build.gradle.kts" }}-{{ checksum "plugin/gradle/wrapper/gradle-wrapper.properties" }}-{{ checksum "instrumentation/build.gradle.kts" }}-{{ checksum "instrumentation/runner/build.gradle.kts" }}-{{ checksum "instrumentation/sample/build.gradle.kts" }}-{{ checksum "instrumentation/gradle/wrapper/gradle-wrapper.properties" }}-{{ checksum "buildSrc/src/main/kotlin/Artifacts.kt" }}-{{ checksum "buildSrc/src/main/kotlin/Dependencies.kt" }}

version: 2
jobs:
  build_plugin:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          <<: *cache_key

      - run:
          name: (Plugin) Build
          command: cd plugin && ./gradlew :android-junit5:assemble --stacktrace --no-daemon
      - run:
          name: (Plugin) Test
          command: cd plugin && ./gradlew :android-junit5:check --stacktrace --no-daemon

      - persist_to_workspace:
          root: ~/root
          paths:
            - project
      - store_artifacts:
          path: plugin/android-junit5/build/reports/tests/test
          destination: plugin

  build_instrumentation:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          <<: *cache_key
      - run:
          name: (Instrumentation) Download Dependencies
          command: cd instrumentation && ./gradlew androidDependencies --no-daemon
      - save_cache:
          <<: *cache_key
          paths:
            - ~/.gradle/caches
            - ~/.gradle/wrapper
      - run:
          name: (Instrumentation) Build
          command: |
            cd instrumentation
            ./gradlew :core:assembleDebug :core:assembleDebugAndroidTest \
            :runner:assembleDebug \
            :sample:assembleDebug --stacktrace --no-daemon
      - run:
          name: (Instrumentation) Test
          command: cd instrumentation && ./gradlew :core:check :runner:check --stacktrace --no-daemon
      - run:
          name: Store Google Service Account
          command: echo $GCLOUD_SERVICE_KEY > ${HOME}/gcloud-service-key.json
      - run:
          name: Authorize gcloud and set config defaults
          command: |
            sudo gcloud auth activate-service-account --key-file=${HOME}/gcloud-service-key.json
            sudo gcloud --quiet config set project ${GOOGLE_PROJECT_ID}
      - run:
          name: Test with Firebase Test Lab
          command: >
            sudo gcloud firebase test android run \
              --type instrumentation \
              --app instrumentation/sample/build/outputs/apk/debug/sample-debug.apk \
              --test instrumentation/core/build/outputs/apk/androidTest/debug/android-test-core-debug-androidTest.apk \
              --environment-variables runnerBuilder=de.mannodermaus.junit5.AndroidJUnit5Builder \
              --test-runner-class androidx.test.runner.AndroidJUnitRunner \
              --device model=sailfish,version=28,locale=en_US,orientation=portrait \
              --results-bucket cloud-test-${GOOGLE_PROJECT_ID} \
              --timeout 15m
      - run:
          name: Install gsutil dependency and copy test results data
          command: |
            sudo pip install -U crcmod
            mkdir test-lab-results
            sudo gsutil -m cp -r -U `sudo gsutil ls gs://cloud-test-${GOOGLE_PROJECT_ID} | tail -1` test-lab-results/ | true

      - persist_to_workspace:
          root: ~/root
          paths:
            - project
      - store_artifacts:
          path: instrumentation/core/build/reports
          destination: instrumentation-core
      - store_artifacts:
          path: test-lab-results
          destination: instrumentation-core/test-lab-results
      - store_artifacts:
          path: instrumentation/runner/build/reports
          destination: instrumentation-runner

  deploy_plugin:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/root
      - restore_cache:
          <<: *cache_key
      - run:
          name: (Plugin) Deploy
          command: cd plugin && ./gradlew deploy --stacktrace --no-daemon
      - store_artifacts:
          path: plugin/android-junit5/build/publications
          destination: plugin/publications/snapshots

  deploy_instrumentation:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/root
      - restore_cache:
          <<: *cache_key
      - run:
          name: (Instrumentation) Deploy
          command: cd instrumentation && ./gradlew deploy --stacktrace --no-daemon
      - store_artifacts:
          path: instrumentation/core/build/publications
          destination: instrumentation-core/publications/snapshots
      - store_artifacts:
          path: instrumentation/runner/build/publications
          destination: instrumentation-runner/publications/snapshots

workflows:
  version: 2

  build_deploy:
    jobs:
      - build_plugin
      - build_instrumentation
      - deploy_plugin:
          requires:
            - build_plugin
          filters:
            branches:
              only: main
      - deploy_instrumentation:
          requires:
            - build_instrumentation
          filters:
            branches:
              only: main
